extends layout

block content
  h1.header Marcos Gonzales

  p.about-me Welcome! a little about me. I'm a self taught web developer. I am interested in expanding my Javascript, Css, and Node skills. I have been learning since 2018 and want to transition into the scene. 
  
  p.skillz My main focus is to get better at the front end. I have worked with the back end some so you could say i'm full stack but that's a stretch. I am passionate about expanding my skills and am working towards making lovely sites for all to see. If you want to know more just hit that contact button and send me a e-mail ;)
  
  img.profile-pic(src='/images/tabby.jpg')


        
