doctype html
html(lang="en")
    head
        title Document
        link(rel="stylesheet", href="/stylesheets/style.css" )
        link(href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet")

    body
      .prime
        .container
    
          block content
          include mixins/footer.pug
    script(data-cfasync="false" type="text/javascript" src="/javascript/script.js")