extends layout

block content
  h1.header Marcos Gonzales
  
  .wrapper
    p.tutorial-p This is the first project i built on my own. I ran into so many issues that i solved. During the process I learned so much and can't wait to start my next project.
    a(href='https://poke-blog.herokuapp.com' target='_blank') 
      img.project(src='/images/pokeblog3.png')
  .wrapper
    p.tutorial-p This is a tutorial i followed along with and oh boy i learned so much. Everything from how to make relations with mongoDB/moongse all the way to creating a log in page and sending e-mails. 
    a(href='https://getting-closer.herokuapp.com' target='_blank')  
      img.tutorial(src='/images/tutorial.png') 