extend layout

block content
  h1.header Marcos Gonzales
  p.skills-content Its hard to judge where i'm at but here are some of the technologies i've been using.

  .skills
    li
      h3 HTML5
      span.bar
        span.html
    li
      h3 CSS
      span.bar
        span.css
    li
      h3 Javascrpit
      span.bar
        span.javascript
    li
      h3 Node
      span.bar
        span.node            